
.loginContainer {
  width: 500px;
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(23, 23, 23, 0.8);
  backdrop-filter: blur(10px);
  border: 6px solid #181532;
  border-radius: 17px;
}

.label {
  font-family: "Kodchasan", sans-serif;
  font-size: 20px;
  color: #9e9e9e;
}

.input {
  font-family: "Kodchasan", sans-serif;
  width: 433px;
  height: 69px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 3px solid #000000;
  background-color: transparent;
  color: #4b4b4b;
  font-size: 20px;
}

.input:focus {
  outline: none;
  border: 3px solid #279dc5;
}

.forgotPassword {
  font-family: "Kodchasan", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-align: end;
  margin-left: 7rem;
}

input[type="checkbox"] {
  background-color: transparent !important;
  color: white;
}

input[type="checkbox"]:enabled:checked {
  background-color: #bb50b1 !important;
  color: white;
}

.checkboxLabel {
  font-family: "Kodchasan", sans-serif;
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}

.button {
  font-family: "Kodchasan", sans-serif;
  width: 432px;
  height: 46px;
  background: linear-gradient(
    90deg,
    rgba(39, 157, 197, 1) 25%,
    rgba(187, 80, 177, 1) 75%
  );
  border-radius: 12x;
  border: none;
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  color: #000;
}

.text {
  font-family: "Kodchasan", sans-serif;
}

.link {
  font-family: "Kodchasan", sans-serif;
}
