@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aldrich", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Garante que o conteúdo ocupe a altura total da tela */
}

main {
  margin: 8rem 0 auto;
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

.App {
  color: white; /* Altera a cor do texto para branco */
  text-align: center; /* Centraliza o texto */
}

.home-bg {
  background: url("./assets/techPattern.png") no-repeat center center/cover #101010;
  height: 100vh;
}

.login-bg {
  background: url("./assets/fundologin.png") no-repeat center center/cover #101010;
  height: 100vh;
}

.default-bg {
  background: url("./assets/techPattern.png") no-repeat center center/cover #101010;
  height: 100vh;
}
