@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aldrich", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Garante que o conteúdo ocupe a altura total da tela */
}

main {
  margin: 8rem 0 auto;
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

.home-bg {
  background: url("./assets/techPattern.png") no-repeat center center/cover
    #101010;
  height: 100vh;
}

.login-bg {
  background: url("./assets/fundologin.png") no-repeat center center/cover
    #101010;
  height: 100vh;
}

.default-bg {
  background: url("./assets/techPattern.png") no-repeat center center/cover
    #101010;
  height: 100vh;
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 0.12) 12%,
    rgba(24, 21, 50, 1) 100%
  );
}

.header {
  background: rgba(16, 16, 16, 0.5);
  backdrop-filter: blur(10px);
}

.aboutBtn {
  font-size: 1.2rem;
  background: linear-gradient(
    90deg,
    rgba(39, 157, 197, 1) 25%,
    rgba(187, 80, 177, 1) 75%
  );
  padding: 2px 15px;
}

.moreBtn {
  font-size: 1.5rem;
  font-weight: bolder;
  background: linear-gradient(
    90deg,
    rgba(39, 157, 197, 1) 25%,
    rgba(187, 80, 177, 1) 75%
  );
  padding: 2px 60px;
}

.carouselItemStyle {
  min-width: 350px;
  height: 300px;
  margin: 0 10px;
  background: #2d2d2d;
  border: 4px solid #181532;
  border-radius: 8px;
  flex-grow: auto;
}

.carouselContainer {
  scroll-behavior: smooth; /* Suaviza a rolagem */
  width: 1900px;
}

.connectingLine {
  background: #f327df;
  top: 57rem;
  height: 10px;
}

.createAccContainer {
  width: 500px;
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(23, 23, 23, 0.8);
  backdrop-filter: blur(10px);
  border: 6px solid #181532;
  border-radius: 17px;
}

.input {
  width: 433px;
  height: 69px;
  color: #4b4b4b;
  font-size: 20px;
}

.input:focus {
  outline: none;
  border: 3px solid #279dc5;
}

.textLink {
  font-family: "Kodchasan", sans-serif;
  color: #dee2e6;
  text-align: center;
  justify-content: center;
}

.forgotPassContainer {
  width: 500px;
  height: 494px;
  background: rgba(23, 23, 23, 0.8);
  backdrop-filter: blur(10px);
  border: 6px solid #181532;
  border-radius: 17px;
}

.warning {
  font-size: 6rem;
  color: #4b4b4b;
  border-left: 4px solid #4b4b4b;
}

.loginContainer {
  width: 500px;
  height: 494px;
  background: rgba(23, 23, 23, 0.8);
  backdrop-filter: blur(10px);
  border: 6px solid #181532;
  border-radius: 17px;
}

input[type="checkbox"]:enabled:checked {
  background-color: #bb50b1 !important;
  color: white;
}

.courseItem {
  min-width: 300px;
  width: 150px;
  height: 300px;
  margin: 0 10px;
  background: #2d2d2d;
  border: 4px solid #181532;
  flex-grow: auto;
}

.badge {
  border: 4px solid #181532;
}

.courseLogo {
  min-width: 350px;
  height: 344px;
  width: 263px;
  margin: 0 10px;
  background: #2d2d2d;
  flex-grow: auto;
}

.playVideo {
  width: 300px;
  height: 150px;
  background: #2d2d2d;
  border: 4px solid #181532;
}

.circular-progress {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.questionBadge {
  width: 1479px;
  height: 500px;
}

.answerBadge {
  width: 1479px;
  height: 200px;
  border: 4px solid #181532;
}

.answerBadge::placeholder {
  color: #ffffff;
  font-size: 20px;
  font-family: "Kodchasan", sans-serif;
}

.video-container {
  position: relative;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  width: 1300px;
}

.video-player {
  width: 100%;
  display: block;
}

.video-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.5);
}

.top-right-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

input[type="range"] {
  height: 5px;
  accent-color: white;
}

.volumeChange {
  bottom: 300%;
  right: -185%;
  transform: rotate(-90deg);
  width: 150px;
  height: 30px;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input,
textArea {
  height: 250px;
}

.textArea::placeholder {
  color: white;
}

.sidebar {
  background-color: #2c2c2c;
  color: white;
  width: 350px;
  min-height: 100vh;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
}

.sidebar.collapsed {
  width: 150px;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.icon-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
}
